<!-- city_data.html -->
<!-- Add this line in the head section of your HTML -->
{% extends 'base.html' %}

{% block content %}
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
<div class="container">
			<div>
				<button onclick="onBtExport()" style="margin-bottom: 5px; font-weight: bold">Export to Excel</button>
            </div></div>
<h2 align="center"  class="card-header">Indian Company</h2>
<div id="ag-grid" class="ag-theme-alpine" style="height: 800px;"></div>


<script>


var gridOptions = {
        columnDefs: [
            { headerName: 'CIN', field: 'CIN', filter: true},
            { headerName: 'Company Name', field: 'company_name', editable: true, filter: true},
            { headerName: 'Date of Registration', field: 'date_of_registration', editable: true,filter: true},
            { headerName: 'Month Name', field: 'month_name', editable: true, filter: true},
            { headerName: 'State', field: 'state', editable: true, filter: true},
            { headerName: 'ROC', field: 'roc', editable: true, filter: true},
            { headerName: 'Company', field: 'company', editable: true, filter: true},
            { headerName: 'Category', field: 'category', editable: true, filter: true},
            { headerName: 'Class', field: 'Class', editable: true, filter: true},
            { headerName: 'Company Type', field: 'company_type', editable: true, filter: true},
            { headerName: 'Authorized Capital', field: 'authorized_capital', editable: true, filter: true},
            { headerName: 'Paid Up Capital', field: 'paid_up_capital', editable: true, filter: true},
            { headerName: 'Activity', field: 'activity', editable: true, filter: true},
            { headerName: 'Activity Description', field: 'activity_description', editable: true, filter: true},
            { headerName: 'Description', field: 'description', editable: true, filter: true},
            { headerName: 'Registered Office Address', field: 'registered_office_address', editable: true, filter: true},
            { headerName: 'Month', field: 'month', editable: true, filter: true},
            { headerName: 'Year', field: 'year', editable: true, filter: true},
            { headerName: 'Email', field: 'email', editable: true, filter: true}

        ],

         defaultColDef: {
            filter: true,
            sortable: true,
            },
        pagination: true,
        paginationPageSize: 50,
        enableRangeSelection: true,
        clipboardDeliminator: '\t',

        defaultColDef: {
            sortable: true,
            resizable: true,
            minWidth: 200,
            flex: 1,
            },

        onCellValueChanged: function (params) {
                // Handle cell value changed event
                updateDataInDatabase(params.data);
            },
        };

        document.addEventListener('DOMContentLoaded', function () {
            var grid = new agGrid.Grid(document.querySelector('#ag-grid'), gridOptions);
            var indianData ={{ indian_data|safe }};
            gridOptions.api.setRowData(indianData);
        });

        function onBtExport() {
            gridOptions.api.exportDataAsExcel();
        }

        function updateDataInDatabase(updatedData) {

            fetch('/update_indian_data/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(updatedData),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Data updated successfully:', data);
                })
                .catch(error => {
                    console.error('Error updating data:', error);
                });
            }

</script>
{% endblock %}


